@import url('//fonts.googleapis.com/css?family=Comfortaa:300,400,700');
/**
 * By Juan Julio Sandoval Layza <juanjus98@gmail.com>
 */
/**
 * Variables
 */
body {
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.73333333;
  color: #2d3134;
  background: #fff;
  -webkit-text-size-adjust: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.clear-padd {
  padding: 0px;
}
.clear-padd-l {
  padding-right: 0px;
}
.clear-padd-r {
  padding-right: 0px;
}
[canvas=container] {
  background: none !important;
}
.padding-l-0 {
  padding-left: 0px;
}
.btn-form {
  color: #fff;
  background: #53984C;
  border: solid 1px #7cbb76;
  padding: 6px 16px;
  font-size: 18px;
  font-weight: 600;
  font-family: Raleway, sans-serif;
  transition: background-color 0.5s ease;
}
.btn-form:hover {
  background: #5ca954;
  color: #fff;
}
.linea-top {
  height: 6px;
  background: url(../images/bg-line.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo img {
  margin-top: -30px;
}
.body-page {
  /*background:#fdd;*/
  margin-top: 30px;
}
.contactanos-page {
  /*background:#fda;*/
}
.contactanos-page h1 {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  color: #3e3e3d;
}
.contactanos-page .lineas-tb {
  border-top: solid 1px #3e3e3d;
  border-bottom: solid 1px #3e3e3d;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 15px 0;
  margin: 46px 0;
  text-align: center;
}
.contactanos-page .datos-contacto {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  line-height: 40px;
  margin-bottom: 30px;
}
.contactanos-page .datos-contacto i {
  font-size: 20px;
  padding-right: 15px;
}
.contactanos-page .datos-contacto a {
  color: #000;
}
.contactanos-page .datos-contacto a:hover {
  color: #ce9919;
}
.salones-page {
  /*background:#fda;*/
}
.salones-page h1 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #3e3e3d;
}
.salon-page .logo-salon {
  max-width: 288px;
  margin: 0 auto;
}
.salon-page .logo-salon img {
  margin: 0 auto;
}
.salon-page .btn-galeria a {
  font-size: 16px;
  font-weight: 400;
  color: #ce9919;
  background: #faeed3;
}
.salon-page .description {
  text-align: justify;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  margin-bottom: 30px;
  padding: 10px 30px;
}
.salon-page .tabla-eventos {
  max-width: 400px;
  margin: 0 auto;
}
.salon-page table thead tr th {
  font-size: 14px;
  font-weight: 400;
}
.salon-page table tbody tr th {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}
.salon-page .table-responsive,
.salon-page table tbody tr th,
.salon-page table tbody tr td {
  border: none;
}
header {
  margin-top: 20px;
}
header .top-sect {
  padding-bottom: 17px;
  /*&:before, &:after{
			content: " ";
			display: table;

		}
		&:after{
			clear: both;
		}*/
}
header .top-sect .help-box {
  float: right;
}
header .top-sect .help-box a {
  font-family: 'Comfortaa', cursive;
  display: block;
  color: #3e3e3d;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  /*letter-spacing: -1px;*/
  position: relative;
  padding-left: 26px;
}
header .top-sect .help-box a:before {
  position: absolute;
  content: "\f095";
  font-family: 'FontAwesome';
  font-weight: 400;
  font-size: 20px;
  color: #3e3e3d;
  top: 0px;
  left: 0;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
header .top-sect .help-box a:hover:before {
  color: #e9bb4a;
  font-size: 22px;
}
header .top-sect .cont-redes {
  float: right;
  margin-left: 20px;
  line-height: 30px;
}
header .top-sect .cont-redes .btn-facebook {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #3e3e3d;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
header .top-sect .cont-redes .btn-facebook:hover {
  background: #3b5998;
}
.navbar-wa {
  font-family: 'Comfortaa', cursive;
  border: none;
  border-radius: 0px;
  background: none;
  margin-bottom: 15px;
  min-height: 10px;
}
.navbar-wa .navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wa .navbar-nav-wa li {
  /*padding: 4px;*/
  border-right: 1px solid #3e3e3d;
}
.navbar-wa .navbar-nav-wa li:first-child {
  border-left: 1px solid #3e3e3d;
}
.navbar-wa .navbar-nav-wa li .dropdown-menu {
  padding: 0px 0;
  border: none;
}
.navbar-wa .navbar-nav-wa li .dropdown-menu li {
  width: 100%;
  border: none;
  padding: 0px;
}
.navbar-wa .navbar-nav-wa li .dropdown-menu li a {
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #3e3e3d;
  line-height: 12px;
  transition: background-color 0.5s ease;
}
.navbar-wa .navbar-nav-wa li .dropdown-menu li a:hover {
  color: #fff;
  background-color: #ce9919;
}
.navbar-wa .navbar-nav-wa li .dropdown-menu .active a,
.navbar-wa .navbar-nav-wa li .dropdown-menu .open a,
.navbar-wa .navbar-nav-wa li .dropdown-menu .active a:focus,
.navbar-wa .navbar-nav-wa li .dropdown-menu .open a:focus,
.navbar-wa .navbar-nav-wa li .dropdown-menu .active a:hover,
.navbar-wa .navbar-nav-wa li .dropdown-menu .open a:hover {
  color: #fff;
  background: url(../images/asfalt-dark.png) #6A0015;
}
.navbar-wa .navbar-nav-wa li a {
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 15px;
  text-transform: uppercase;
  color: #3e3e3d;
  line-height: 12px;
  transition: background-color 0.5s ease;
}
.navbar-wa .navbar-nav-wa li a:hover {
  color: #ce9919;
}
.navbar-wa .navbar-nav-wa .active a,
.navbar-wa .navbar-nav-wa .open a,
.navbar-wa .navbar-nav-wa .active a:focus,
.navbar-wa .navbar-nav-wa .open a:focus,
.navbar-wa .navbar-nav-wa .active a:hover,
.navbar-wa .navbar-nav-wa .open a:hover {
  color: #ce9919;
  background: none;
}
/**
 * Menu responsive
 */
.responsive-menu-buttom {
  display: none;
}
.responsive-menu-buttom .btn-responsive {
  border: solid 1px #ce9919;
  background: #e9bb4a;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
[off-canvas] {
  z-index: 3;
  background: #e9bb4a;
  border-right: solid 1px #ce9919;
}
[off-canvas] .cont-logo {
  background: #fff;
  padding: 30px 60px;
  margin: 0 auto;
}
/* define a fixed width for the entire menu */
.navigation {
  /*width: 300px;*/
}
/* reset our lists to remove bullet points and padding */
.mainmenu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #e9bb4a;
  text-decoration: none;
  padding: 10px;
  color: #3e3e3d;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
/* add hover behaviour */
.mainmenu a:hover {
  background-color: #ecc361;
}
/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/
.mainmenu li:hover .submenu {
  display: block;
}
/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/
.submenu a {
  background-color: #ecc361;
  font-size: 14px;
}
/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #efcc78;
}
/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  /*overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;*/
}
.cont_slide_1,
.cont_slide_2,
.cont_slide_3 {
  background: #fff;
  padding: 0;
}
.cont_slide_1 .carousel-inner > .item > img,
.cont_slide_1 .carousel-inner > .item > a > img {
  width: 100%;
}
.cont_slide_1 .carousel-control {
  background: transparent;
}
.cont_slide_1 .carousel-control .glyphicon-chevron-left,
.cont_slide_1 .carousel-control .glyphicon-chevron-right {
  /*background-color: rgba(0, 0, 0, 0.8);
			border: 1px solid rgba(0, 0, 0, 0.9);*/
  line-height: 52px;
  font-family: FontAwesome;
  width: 60px;
  height: 52px;
  font-size: 32px;
  font-weight: 100;
}
.cont_slide_1 .carousel-control .glyphicon-chevron-left {
  left: 10px;
}
.cont_slide_1 .carousel-control .glyphicon-chevron-left:before {
  content: "\f053";
  color: #3e3e3d;
}
.cont_slide_1 .carousel-control .glyphicon-chevron-right {
  right: 10px;
}
.cont_slide_1 .carousel-control .glyphicon-chevron-right:before {
  content: "\f054";
  color: #3e3e3d;
}
.cont_slide_2 .img-slide {
  text-align: center;
}
.cont_slide_2 .img-slide img {
  width: 100%;
}
/*Slider clients footer*/
.content-slider-clientes li {
  padding: 0 5px;
}
.logos-box {
  /*background: #ededed;*/
  padding: 30px 0px;
}
.logos-box li.logo-item {
  text-align: center;
}
.logos-box .lSAction a {
  width: 20px;
  display: block;
  top: 50%;
  height: 32px;
  /*background-image: url(../img/controls.png);*/
  background: none;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
  font-family: FontAwesome;
  font-size: 20px;
  color: #3e3e3d;
}
.logos-box .lSAction .lSPrev {
  /*content: "\f053";*/
  left: 0px;
}
.logos-box .lSAction .lSPrev:before {
  content: "\f053";
  color: #3e3e3d;
}
.logos-box .lSAction .lSNext {
  right: 0px;
}
.logos-box .lSAction .lSNext:before {
  content: "\f054";
  color: #3e3e3d;
}
.logos-box .line-logos {
  height: 1px;
  background: #3e3e3d;
  margin-bottom: 30px;
}
.cont-productos .bg_categoria {
  background: #53984C !important;
}
.cont-productos .thumbnail {
  border-radius: 0;
  border: none;
  padding: 0;
  background: #B32944;
}
.cont-productos .thumbnail .caption h3,
.cont-productos .thumbnail .caption p {
  padding: 0;
  margin: 0;
  color: #fff;
}
.cont-productos .thumbnail .caption h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.cont-productos .thumbnail .caption p {
  font-size: 12px;
  font-weight: 300px;
}
.cont-productos .thumbnail .cont-buttons {
  padding: 8px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.25), 0 3px 20px 0 rgba(0, 0, 0, 0.25), 0 8px 10px -5px rgba(0, 0, 0, 0.25);
}
.cont-productos .thumbnail .cont-buttons .btn-detalles,
.cont-productos .thumbnail .cont-buttons .btn-cotizar {
  color: #fff;
  font-size: 15px;
  border-radius: 0;
  transition: background-color 0.5s ease;
}
.cont-productos .thumbnail .cont-buttons .btn-detalles {
  border: none;
}
.cont-productos .thumbnail .cont-buttons .btn-detalles:hover {
  text-decoration: underline;
}
.cont-productos .thumbnail .cont-buttons .btn-cotizar {
  border: solid 1px #d7516b;
  background: #B32944;
}
.cont-productos .thumbnail .cont-buttons .btn-cotizar:hover {
  background-color: #d23d5a;
}
.cont-productos .wa-thumbnail {
  position: relative;
}
.cont-productos .wa-thumbnail .caption {
  padding: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.cont-productos .wa-thumbnail .caption h3 {
  margin: 0;
  padding: 12px 8px;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.cont-productos .wa-thumbnail .bg-1 {
  background: rgba(179, 41, 68, 0.8);
}
.cont-productos .wa-thumbnail .bg-1 h3 {
  color: #fff;
}
/**
 * Galaría de productos.
 */
.cont-detalle {
  /*background:#fff;*/
}
.cont-detalle .cont-producto {
  background: #fff;
  margin-bottom: 30px;
  padding: 14px;
}
.cont-detalle .cont-producto .cont-galeria {
  background: #cdf;
  border: solid 1px #ffffff;
  margin-bottom: 6px;
  position: relative;
}
.cont-detalle .cont-producto .cont-galeria img {
  margin: 0 auto;
}
.cont-detalle .cont-producto .cont-galeria-thumb a {
  display: block;
  float: left;
  margin-right: 6px;
  border: solid 1px #ffffff;
}
.cont-detalle .cont-producto .cont-galeria-thumb a:hover {
  border: solid 1px #ffffff;
}
.cont-detalle .cont-producto .cont-galeria-thumb .active {
  border: solid 1px #ffffff;
}
.cont-detalle .cont-producto .detalles-producto .cabecera-producto {
  border-bottom: solid 1px #E6E7EB;
  padding-bottom: 6px;
  margin-bottom: 15px;
}
.cont-detalle .cont-producto .detalles-producto .cabecera-producto h1 {
  color: #333;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0px;
  text-shadow: none;
}
.cont-detalle .cont-producto .detalles-producto .cabecera-producto h2 {
  color: #666;
  font-size: 14px;
  font-weight: 300;
  padding: 0px;
  margin: 0;
}
.cont-detalle .cont-producto .detalles-producto .cabecera-producto .codigo-producto {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border: solid 1px #d7516b;
  padding: 4px 10px;
  background: #B32944;
  color: #fff;
}
.cont-detalle .cont-producto .detalles-producto .cabecera-producto .codigo-producto span {
  font-size: 12px;
  font-weight: 400;
}
.cont-detalle .cont-producto .detalles-producto p {
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  margin: 0;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones {
  margin-top: 20px;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones hr {
  margin-top: 1px;
  margin-bottom: 10px;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-colores {
  border: solid 1px #E6E7EB;
  padding: 16px;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-colores h3 {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 6px 0;
  text-transform: uppercase;
  color: #666;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-colores .colores {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-colores .colores li {
  list-style-type: none;
  margin: 0 5px 5px 0;
  width: 40px;
  position: relative;
  display: list-item;
  /*a {

                img {
                 border: solid 2px transparent;
                }

                &:hover {
                  img{
                    border: solid 2px @color-primary-0; 
                  }
                }
                
              }*/
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-colores .colores .active a img {
  border: solid 2px #B32944;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-cotizar {
  border: solid 1px #E6E7EB;
  padding: 16px;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-cotizar h3 {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 6px 0;
  text-transform: uppercase;
  color: #666;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-cotizar .box-cantidad .input-cantidad {
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-cotizar .box-cantidad .unidad-medida {
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-cotizar .cont-btncotizar {
  margin-top: 16px;
}
.cont-detalle .cont-producto .detalles-producto .box-opciones .box-cotizar .cont-btncotizar .btn-cotizar {
  border-radius: 0px;
  color: #fff;
  background: #7CB676;
  border: solid 1px #acd1a8;
  padding: 6px 16px;
  font-size: 16px;
  font-weight: 600;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}
.cont-detalle .cont-producto .detalles-producto .box-otros {
  /*background: #cdf;*/
  margin-top: 16px;
}
.cont-detalle .cont-producto .detalles-producto .box-otros .icons-opciones {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cont-detalle .cont-producto .detalles-producto .box-otros .icons-opciones li {
  color: #666;
  font-size: 18px;
  font-weight: 700;
  line-height: 38px;
}
.cont-detalle .cont-producto .detalles-producto .box-otros .icons-opciones li i {
  font-size: 24px;
  color: #B32944;
}
.cont-detalle .cont-producto .detalles-producto .box-otros .icons-opciones li span {
  font-size: 16px;
  font-weight: 400;
  color: #7CB676;
}
.cont-detalle .cont-producto .detalles-producto .box-otros .icons-opciones li span a {
  color: #7CB676;
}
.cont-detalle .cont-producto .detalles-producto .box-otros .icons-opciones li span a:hover {
  text-decoration: underline;
}
.zoomContainer {
  z-index: 9999;
}
.cont-tabs {
  margin-top: 20px;
}
.cont-tabs .nav-tabs {
  border-bottom: 2px solid #DDD;
}
.cont-tabs .nav-tabs > li.active > a {
  border-width: 0;
  border: none;
  color: #7CB676 !important;
  background: transparent;
}
.cont-tabs .nav-tabs > li.active > a:focus {
  border-width: 0;
}
.cont-tabs .nav-tabs > li.active > a:hover {
  border-width: 0;
}
.cont-tabs .nav-tabs > li.active > a::after {
  transform: scale(1);
}
.cont-tabs .nav-tabs > li > a {
  border: none;
  color: #666;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.cont-tabs .nav-tabs > li > a:hover {
  border: none;
  color: #7CB676 !important;
  background: transparent;
}
.cont-tabs .nav-tabs > li > a::after {
  content: "";
  background: #7CB676;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.cont-tabs .nav-tabs > li:hover > a::after {
  transform: scale(1);
}
.cont-tabs .tab-nav > li > a::after {
  background: #7CB676 none repeat scroll 0% 0%;
  color: #fff;
}
.cont-tabs .tab-pane {
  padding: 0;
}
.cont-tabs .tab-content {
  padding: 16px;
}
.card {
  background: #FFF none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}
.table-carrito > tbody > tr > td {
  vertical-align: middle;
}
.bg-form {
  padding: 3px;
  margin: 0;
  background: -moz-linear-gradient(72deg, #e8c574 0%, #cf9e36 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cf9e36), color-stop(100%, #e8c574));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(72deg, #e8c574 0%, #cf9e36 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(72deg, #e8c574 0%, #cf9e36 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(72deg, #e8c574 0%, #cf9e36 100%);
  /* ie10+ */
  background: linear-gradient(18deg, #e8c574 0%, #cf9e36 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf9e36', endColorstr='#E8C574', GradientType=0);
  /* ie6-9 */
}
.bg-form .white-line {
  background: #fff;
  height: 3px;
  width: 50%;
  margin: -3px auto 0 auto;
  display: block;
}
.bg-form .form {
  background: #fff;
  padding: 20px 30px;
}
.bg-form .form label {
  font-size: 14px;
  font-weight: 400;
  padding-left: 8px;
  color: #000;
}
.bg-form .form .form-control {
  border-radius: 14px;
}
.bg-form .form .btn-enviar {
  background: none;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin: 0px;
  padding: 0;
  line-height: 30px;
}
.bg-form .form .btn-enviar span {
  width: 30px;
  height: 28px;
  background: url(../images/btn-icon.png) no-repeat top center;
  display: block;
  float: right;
  margin-left: 10px;
}
.bg-form .form .btn-enviar:hover {
  color: #ce9919;
  font-weight: 700;
}
.bg-form .servicio {
  font-family: 'Comfortaa', cursive;
  /*background:#cd0;*/
}
.bg-form .servicio h1 {
  font-size: 32px;
  font-weight: 700;
  color: #ce9919;
  text-transform: uppercase;
}
.bg-form .servicio p {
  font-size: 14px;
  font-weight: 300;
}
.bg-form .servicio .servicio-detalles {
  /*background:#f01;*/
}
.bg-form .servicio .servicio-detalles h2 {
  font-size: 22px;
  font-weight: 700;
  color: #ce9919;
}
.bg-form .servicio .servicio-detalles p {
  font-size: 14px;
  font-weight: 300;
}
.bg-form .servicio .servicio-image img {
  border: solid 1px #ce9919;
  padding: 3px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  body {
    /*background: #fc0 !important;*/
  }
  .responsive-menu-buttom {
    display: block;
    position: absolute;
    z-index: 2;
    top: 6px;
    left: 6px;
  }
  .navbar-wa {
    display: none;
  }
  .logo img {
    margin-top: 0px;
  }
  header {
    margin-top: 10px;
  }
  .contactanos-page h1 {
    font-size: 30px;
  }
  .salon-page .logo-salon {
    padding: 0px 0px 30px 0px;
  }
  .salon-page .description {
    padding: 10px 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    /*background: #c0f !important;*/
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    /*background: #c00 !important;*/
  }
}
@media (min-width: 1200px) {
  body {
    /*background: #cc0 !important;*/
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    /*background: #fdd !important;*/
  }
  .logo-salon {
    padding: 0px 0px 30px 0px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    /*background: #0dd !important;*/
  }
  .logo-salon {
    padding: 70px 0 30px 0;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    /*background: #00c !important;*/
  }
  .logo-salon {
    padding: 70px 0 30px 0;
  }
}
